<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <br><br><br>
            <h1 class="mb-1">Prueba de links</h1>
            <h3 class="mb-5">
                <em>Almacena los enlaces de tus sitios web favoritos</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                Vamos a empezar.
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>